=@@%%ID%%,oomloutProject.id,name@@=
== Summary ==
<center>http://oomlout.com/oomlout-WHSN/%%ID%%-01_420.jpg</center><br>
 Project ID: <b>%%ID%%</b><br>
 Project Name: <b>@@%%ID%%,oomloutProject.id,name@@</b><br>
 Summary: <b>@@%%ID%%,oomloutProject.id,summary@@</b><br>
 
**%%ID%%,oomloutProject.id,about**==About==
**%%ID%%,oomloutProject.id,about**@@%%ID%%,oomloutProject.id,about@@

**%%ID%%,oomloutProject.id,assembly**==Assembly==
**%%ID%%,oomloutProject.id,assembly**@@%%ID%%,oomloutProject.id,assembly@@

**%%ID%%,oomloutProject.id,videoEmbed**==Video==
**%%ID%%,oomloutProject.id,videoEmbed**<html><center>@@%%ID%%,oomloutProject.id,videoEmbed@@</center></html><br>


==Parts==
$$%%ID%%-02.jpg$$<center>http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-02_420.jpg</center><br>

===Laser Cut Parts===
^^0,100,%%Y%%^^**%%ID%%,oomloutProject.id,laserCutList.laserPart.partID&&%%Y%%&&** * @@%%ID%%,oomloutProject.id,laserCutList.laserPart.partID&&%%Y%%&&@@    @@%%ID%%,oomloutProject.id,laserCutList.laserPart.partName&&%%Y%%&&@@    x@@%%ID%%,oomloutProject.id,laserCutList.laserPart.partQty&&%%Y%%&&@@<br>

===Hardware===
^^0,100,%%T%%^^**%%ID%%,oomloutProject.id,partsList.part.partID&&%%T%%&&** * @@%%ID%%,oomloutProject.id,partsList.part.partID&&%%T%%&&@@ x@@%%ID%%,oomloutProject.id,partsList.part.qty&&%%T%%&&@@<br>

$$%%ID%%-working.cdr$$==Source Files==
$$%%ID%%-working.cdr$$This is the file we use to work on the project. It sometimes has extra pieces, reference lines, or the layout helps to indicate how parts fit together.<br>
$$%%ID%%-working.cdr$$<center>http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-working_420.png</center><br>
$$%%ID%%-working.cdr$$ [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-working.cdr (cdr)] (source)<br>(generated) [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-working.dxf (dxf)] [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-working.pdf (pdf)] [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-working.png (png)] [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-working.svg (svg)]

$$%%ID%%-laser.cdr$$==Laser Cutting==
$$%%ID%%-laser.cdr$$Files for laser cutting. All parts laid out and nested for optimal material usage. For more details about conventions used in these files visit [http://learn.oomlout.co.uk/OO/About/LaserCutting About Laser Cutting]<br>
$$%%ID%%-laser.cdr$$ Material:<b>@@%%ID%%,oomloutProject.id,laserMaterial@@</b><br>
$$%%ID%%-laser.cdr$$<center>http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-laser_420.png</center><br>
$$%%ID%%-laser.cdr$$ [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-laser.cdr (cdr)] (source)<br>(generated) [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-laser.dxf (dxf)] [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-laser.pdf (pdf)] [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-laser.png (png)] [http://www.oomlout.com/oomlout-%%ID%%/%%ID%%-laser.svg (svg)]
<br><br>

==Elsewhere on the Web==
GitHub: http://github.com/oomlout-%%ID%% (source file repository)<br>
**%%ID%%,oomloutProject.id,thingiverseWeb**Thingiverse: <b>[@@%%ID%%,oomloutProject.id,thingiverseWeb@@ Thing @@%%ID%%,oomloutProject.id,thingiverseID@@]</b><br>
Flickr: <b>[https://www.flickr.com/search/?w=33504192@N00&q=%%ID%% HiRes Images]</b><br>

==Contact==
@@contactText,projBasic.id,value@@

